main{
    width: 70%;
    margin: 0 auto;
    background-color: #cdcdcc;
    height: 100vh;   
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.hint{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    }   

.grid-item{
    display: flex;
    justify-content: center;
    background-color: #fed753;
    padding: 50px;
}

.grid-item:nth-child(1){
    grid-column: 1/3;
    background-color: #8a740d;
}

.grid-item:nth-child(4){
    grid-column: 1/4;
    background-color: #015680;
}

.grid-item:nth-child(6){
    grid-column: 1/5;
    background-color: #800080;
}

.grid-item:nth-child(9){
    grid-column: 3/5;
    background-color: #76afb9;
}